<div class="card mb-3">
  <h2 class="card-header h4">
    Home #<%= home.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd><%= home.user_id %></dd>

      <dt>Home address</dt>
      <dd>
        <div>
          <%= render partial: "homes/one_photo_map" %>
        </div>
      </dd>

      <dt>Home image</dt>
      <dd>
        <%= cl_image_tag @home.home_image, class: "img-fluid" %>
      </dd>

      <dt>Home name</dt>
      <dd><%= home.home_name %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back home, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_home_url(home), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to home, method: :delete, data: { confirm: "Do you really want to delete this home?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(home.updated_at) %> ago
  </div>
</div>
