<% was_validated = home.errors.any? %>

<%= form_with(model: home, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = home.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% home.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_address_class = "form-control" %>
    <% home_address_was_invalid = home.errors.include?(:home_address) %>

    <% if was_validated %>
      <% if home_address_was_invalid %>
        <% home_address_class << " is-invalid" %>
      <% else %>
        <% home_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_address %>
    <%= f.text_field :home_address, class: home_address_class, placeholder: "Enter home address" %>
    <% if home_address_was_invalid %>
      <% home.errors.full_messages_for(:home_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_image_class = "form-control" %>
    <% home_image_was_invalid = home.errors.include?(:home_image) %>

    <% if was_validated %>
      <% if home_image_was_invalid %>
        <% home_image_class << " is-invalid" %>
      <% else %>
        <% home_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_image %>
    <%= f.file_field :home_image, class: "form-control" %>
    <% if home_image_was_invalid %>
      <% home.errors.full_messages_for(:home_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
