<%= form_with(model: @comment, local: true) do |f| %>

  <%= f.hidden_field :furniture_id, value: @furniture.id %>

  <div class="form-group">
    <%= f.label :comment %>

    <%= f.text_field :comment, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
