<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @furniture, partial: "card", as: :furniture %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "furnitures/furniture_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "furnitures/furniture_likes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "furnitures/furniture_design" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "furnitures/furniture_home" %>
  </div>
</div>
